.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    position: absolute;
    border-radius: 4px; 
    width: 45%;
}

.modal-header {
    background: #ffffff;
    height: 70px;
    padding: 22px;
    text-align: right;
    border: 1px solid #ccc;
}

.modal-header h3 {
    color: #a8b5ba;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.modal-header p {
    color: #c3c5ca;
    float: left;
    margin: 0;
    padding: 12px 0px;
    font-size: 12px;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
    background: #f3f3f3;
}

.modal-footer {
    background: #ffffff;
    height: 70px;
    padding: 22px;
    text-align: right;
    border: 1px solid #ccc;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}


.btn-cancel, .btn-continue {
    color: #ffffff;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 600;
    background-color: #67bbe0;
    border: 1px solid #c3c5ca;
    border-radius: 3px;
    float: left;   
    margin: 15px 10px;
    width: 70px;
}

.btn-cancel {
    background-color: #ebebeb;
    float: left;
    color: #868686

}

.btn-continue {
    background-color: #67bbe0;
    float: left;
    width: 126px;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    top: 0;
    left: 0;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
.access {
    color: #67bae0;
    text-decoration: none;
    float: right;
    margin: 20px 10px;
    font-size: 12px;
    font-weight: 700;
}