.transactionInfo {
    margin-left: 25%; 
}
.progress {
  list-style-type: none;
  padding: 25px;
  overflow: hidden;
}

.progress li {
    display: block;
    font-size: 10px;
    font-weight: 500;
    float: left;
    color: #c3c5caf5;
    text-align: left;
    padding: 15px 55px;
    text-decoration: none;
    border-bottom: 3px solid #eaf9ff;
}
.progress li span {
    font-size: 12px;
    font-weight: 500;
    display: block;
}
.active {
    color: #67bbe0 !important;
    border-bottom: 3px solid #67bbe0 !important;
}
.transaction-input {
    padding: 25px;
}
.transaction-input h2 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.transaction-input p {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: #868686f5;
}
/* .transaction-input .youSend {
    width: 100%;
    border: 1px solid #67bbe0;
    height: 80px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #eaf9ff73;
} */

.btn-next {
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    background-color: #67bbe0;
    border: 1px solid #638391;
    border-radius: 3px;
    float: left;
    margin-top: 25px;
}

.field {
    display: flex;
    flex-flow: column-reverse;
  }
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    font-size: 15px;
    color: #67bae0;
    -webkit-appearance: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    height: 80px;
  }
  
  input:focus {
    outline: 0;
    border: 1px solid #67bbe0;
    background-color: #eaf9ff73;
  }
  
  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  input:placeholder-shown + label {
    cursor: text;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
    text-align: left;
    margin: 4px;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
  