.transactionInfo {
    margin-left: 25%; 
    margin-top: 13%;
}
@media only screen and (max-width: 600px) {
  .transactionInfo {
    margin-left: 0;
  }
}

.progress {
  list-style-type: none;
  padding: 0px 25px;
  overflow: hidden;
}

.progress li {
    display: block;
    font-size: 10px;
    font-weight: 500;
    float: left;
    color: #c3c5caf5;
    text-align: left;
    padding: 15px 55px;
    text-decoration: none;
    border-bottom: 3px solid #eaf9ff;
}
.progress li span {
    font-size: 12px;
    font-weight: 500;
    display: block;
}
.active {
    color: #67bbe0 !important;
    border-bottom: 3px solid #67bbe0 !important;
}
.transaction-input {
    padding: 25px;
}
.transaction-input h2 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.transaction-input p {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: #868686f5;
    padding-bottom: 30px;
}

.btn-next {
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    background-color: #67bbe0;
    border: 1px solid #638391;
    border-radius: 3px;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px; 
    width: 70px;
}

.field {
    display: flex;
    flex-flow: column-reverse;
  }
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  #youSend {
    -webkit-appearance: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #cccccc;
    height: 80px;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    border-bottom: none;
  }
  
  #receiverGets {
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    height: 80px;
    padding: 10px;
    font-size: large;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 700;
  }

  input:focus {
    outline: 0;
    border: 1px solid #67bbe0;
    background-color: #eaf9ff73;
  }
  
  label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500; 
    color: #67bae0;
    text-align: left;
    position: absolute;
  }
  input:placeholder-shown + label {
    cursor: text;
    max-width: 27%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, -1.875rem) scale(1);
    text-align: left;
    padding: 10px;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(10px, -70px) scale(1);
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  padding: 0;
}
/* flag select */
.flag-container{
  width: 100%;
}
.flag{
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
  position: absolute;
  margin: 25px;
  left: 45%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.flag option{
  font-size: 15px;
  font-weight: 700;
}
/* footer */
.footerTransaction {
  list-style-type: none;
  margin: 25px;
  padding: 0;
  overflow: hidden;
  border-top:1px solid #ebebeb;
}

.footerTransaction li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
 color: #cccccc;
}

.footerTransaction li  a{
  color: #67bae0;
  text-decoration: none;
 
}

.code-container {
  padding: 30px 55px;
}

.code-container p{
  font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
}
.prefix {
  border: 1px solid #c3c5ca;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
}
.phone {
  border: 1px solid #c3c5ca;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 3px;
  margin-left: 2px; 
  font-size: 14px;
  font-weight: 500;
}
.code{
  width: 50px;
    height: 50px;
  border: 1px solid #c3c5ca;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.code:focus {
  outline: 0;
  border: 1px solid #67bbe0;
  background-color: #ffffff;
}

.newCode {
  font-size: 13px;
  font-weight: 700;
  float: left;
  color: #939fa5;
  text-decoration: none;
  width: 50%;
  text-align: left;
}
.callCode {
  font-size: 13px;
  font-weight: 700;
  float: left;
  color: #939fa5;
  text-decoration: none;
  width: 50%;
  text-align: right;
}
.receive-container {
  padding: 25px;
}